<section>
  <% if @tweets.any? %>
    <%= content_tag :h1, "These are the latest tweets for #{@username}" %>
  <ul class="tweets">
    <% @tweets.each do |tweet| %>
      <%= content_tag :li do %>
        <%= image_tag tweet.user.profile_image_url %>
        <%= content_tag :p, tweet_with_linked_mention(tweet.text) %>
        <%= content_tag :small, l(tweet.created_at, format: :short) %>
      <% end %>
    <% end %>
  </ul>
  <% else %>
    <%= "No tweets found for #{@username}." %>
  <% end %>
</section>
