<!DOCTYPE html>
<html>
<head>
  <title>TwitterTimeline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <%= render 'layouts/messages' %>
    <nav>
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% end %>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
